@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #121212;
  /*#000000eb*/
  color: #fff;
  font-family: "Ubuntu", sans-serif;
  letter-spacing: 1px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

#homePage {
  display: flex;
  justify-content: center;
  height: 615px;
  /*725px pour prendre la quasi de la page, à réflechir*/
  margin: 5%;
  border-radius: 20px;

}

/* Navigation */
.ComponentNavigation {
  width: 380px;
  background: rgb(0 0 0 / 54%);
  margin-right: 1%;
  padding: 20px 10px;
  text-align: center;
  border-radius: 20px;
  z-index: 1;
}

.profilImage {
  width: 150px;
  border-radius: 50%;
  border: 2px solid darkcyan;
  margin-bottom: 10px;
  height: 150px;
  object-fit: cover;
}

.imageAndName {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}

.categories li {
  /* padding: 20px 30px; */
  color: #34d0ff;
  display: flex;
}

.categories li svg {
  color: #34d0ff;
}

.categories a {
  color: #34d0ff;
  padding: 20px 10px 20px 55px;
  width: 100%;
  text-align: start;
}

.categories li:hover {
  background-color: #266282;
}

.categories li:hover svg {
  color: #fff;
}

.categories li:hover .navLink {
  color: #fff;
}

/***************************  la navigation mobile  *****************************/

.traits {
  border-bottom: 2px solid #fff;
  width: 30px;
  padding: 4px;
  transition: 300ms;
}

.barresDeNavigationMobile {
  display: none;
}

.open .categories li:nth-child(1) {
  /* animation-delay: 200ms; */
  transform: translateX(-200px);
}

.open .categories li:nth-child(2) {
  animation-delay: 150ms;
  transform: translateX(-200px);

}

.open .categories li:nth-child(3) {
  animation-delay: 300ms;
  transform: translateX(-200px);

}

.open .categories li:nth-child(4) {
  animation-delay: 450ms;
  transform: translateX(-200px);

}

/************************ fin de la navigation mobile *****************************/

.spanNavigation {
  font-size: 12px;
  justify-content: center;
  margin-top: 110px;
}

/*All content */
.allContent {
  z-index: 1;
  overflow: scroll;
  scroll-behavior: smooth;
}

.area {
  margin-bottom: 50px;
}

/*************************** HOME PAGE******************************/

.homeContent {
  position: relative;
  width: 100%;
  height: 615px;
  background: linear-gradient(115deg, #080808e3 65%, transparent 100%);
  overflow: hidden;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.homeContent::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: url("./media/work.jpeg") no-repeat center/cover;
  /* https://www.presse-citron.net/app/uploads/2019/11/test-call-of-duty-modern-warfare.jpg*/
  z-index: -1;
  filter: brightness(0.8);
}

.profil {
  position: absolute;
  z-index: 1;
  padding: 50px 35px;
}

.profil h1 {
  font-size: 60px;
}

.profil h2 {
  font-size: 30px;
  margin-bottom: 40px;
}

.downloadCV {
  color: #fff;
  border: 2px solid #fff;
  padding: 10px 13px;
}

/***************   Button animation   *****************/
/* Sweep To Right */
.hvr-sweep-to-right {
  display: inline-block;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
}

.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #1db7fc;
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition: 0.3s ease-out;
}

.hvr-sweep-to-right:hover {
  border: 2px solid #1db7fc;
  color: #fff;
}

.hvr-sweep-to-right:hover:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/*petite animation pour icon du bouton voir le projet*/
.hvr-sweep-to-right:hover svg {
  animation: linear 0.4s infinite alternate goToProject;
}

/*********** PAGE COMPÉTENCES ************/

.competencesContent {
  width: 100%;
  /* height: 615px; */
  background: linear-gradient(115deg, #100f21eb 50%, #0000004f 100%);
  border-radius: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 70%;
  grid-gap: 5px;
  padding: 10px;
  z-index: 1;
}

.section {
  padding: 10px;
  box-shadow: rgb(56 56 56) 3px 3px 6px 0px inset,
    rgb(92 85 85 / 50%) -3px -3px 6px 1px inset;
  display: flex;
  flex-direction: column;
  line-height: 1.5;
}

.section p,
span {
  font-size: 12px;
  display: flex;
  align-items: center;
}

.secondSection svg {
  font-size: 18px;
}

.section h2 {
  line-height: 2;
  font-size: 20px;
  color: #1db7fc;
}

.section h3 {
  font-size: 16px;
  color: #1db7fc;
}

.fristSection {
  grid-column: 1/3;
}

.interets {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.interets span {
  padding: 5px 0;
}

/*icons */
.logoJs svg {
  background: #efd81d;
  color: black;
}

.logoHtml svg {
  color: #dc4924;
}

.logoCss svg {
  color: rgb(63 130 237);
}

.section span svg {
  margin-right: 8px;
}

.exeperiencesAlternance {
  padding-left: 25px;
}

.exeperiencesAlternance li {
  list-style: disc;
  font-size: 13px;
}

.onlyMobile {
  display: none;
}

/*Progression animation*/
.progress {
  border-radius: 20px;
  position: relative;
  margin: 15px 0;
  height: 12px;
  width: 165px;
  border: 1px solid #616161ad;
  background: #141328;
}

.progressDone {
  background: linear-gradient(to left, #f2709c, #ff9472);
  box-shadow: 0 3px 3px -5px #f2709c, 0 2px 5px #f2709c;
  border-radius: 20px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 0;
  opacity: 0;
  transition: 1.5s ease 0.3s;
}

/* Autres compétences*/
.autresCompetences {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.autresCompetences svg {
  color: #1fc5c5;
}

/**********************************  Page Portfolio  *****************************************/
.portfolioContent {
  width: 100%;
  height: 615px;
  background: linear-gradient(115deg, #100f21eb 50%, #0000004f 100%);
  background: black;
  border-radius: 20px;
  padding: 10px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.imageProjet {
  width: 100%;
  height: 100%;
  transition: 500ms;
}

.MesProjets {
  width: 270px;
  display: flex;
  justify-content: center;
}

.enteteCardProjet {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 10px 5px;
  text-align: center;
  z-index: 1;
  transition: 800ms;
  padding-top: 40px;
  background: #0c384e;
  /* color: gold; */
  color: #fff;
  padding-bottom: 77px;
  transform: translateY(-290px);
}

.projet:hover .enteteCardProjet {
  transform: translateY(-0);
}

.projet {
  position: relative;
  width: 100%;
  height: 230px;
  overflow: hidden;
  border-radius: 8px;
  transition: 200ms;
}

.projet:hover {
  box-shadow: 0 3px 3px -5px #f2709c, 0 2px 5px #f2709c;
  /* lightseagreen */
}

.projet:hover .imageProjet {
  transform: scale(1.2);
}

.cardContent svg {
  font-size: 14px;
  margin-left: 5px;
}

.enteteCardProjet h2,
.descriptionProfil {
  font-size: 16px;
  padding: 5px;
  z-index: 1;
}

/*******  button voir le profil "Portfolio"   *********/
.voirLeProjet {
  font-size: 12px;
  color: #fff;
  border: 2px solid #20b1a9;
  padding: 5px 9px;
  margin-top: 8px;
}

.voirLeProjet::before {
  background: lightseagreen !important;
}

.voirLeProjet:hover {
  border-color: lightseagreen !important;
}

/*Fin*/

/**********************************  CONTACT PAGE  ********************************/
.contactContent {
  position: relative;
  width: 100%;
  height: 615px;
  background: #080808cc;
  overflow: hidden;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
}

.contactContent::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: url("./media/contact.jpeg") no-repeat center/cover;
  /* https://www.presse-citron.net/app/uploads/2019/11/test-call-of-duty-modern-warfare.jpg*/
  z-index: -1;
}

.contactContent h1 {
  text-align: center;
  font-size: 70px;
  margin-bottom: 80px;
}

.contactWM {
  cursor: pointer;
  color: #fff;
  border: none;
  background: transparent;

}

.contactWM:hover {
  text-decoration-color: #148bc2;
}

.socialMedia,
.contactWM svg {
  font-size: 50px;
  cursor: pointer;
  color: #fff;
}

.contactContent svg {
  background-color: #303130;
  margin: 30px;
  padding: 8px;
  border-radius: 25%;
  transition: 300ms;
}

.contactContent svg:hover {
  background: #fff;
  color: #000;
  transform: translateY(-10px);
}




/**********************************  ANIMATION BACKGROUND BODY  ********************************/
.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgb(255 255 255 / 11%);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

@keyframes goToProject {
  0% {
    transform: translateX(0px);
  }

  100% {
    transform: translateX(2px);
  }
}